@model Catalogo.Models.Videojuego

<div class="container mt-4">
    <h1>Detalles de: @Model.Titulo</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Género</dt>
        <dd class="col-sm-10">@Model.Genero</dd>

        <dt class="col-sm-2">Consola</dt>
        <dd class="col-sm-10">@Model.Consola</dd>

        <dt class="col-sm-2">Año</dt>
        <dd class="col-sm-10">@Model.Anio</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
    </dl>
    <a asp-action="Index" class="btn btn-secondary">Volver al catálogo</a>
</div>